<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Log In</h2>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email/Username" formControlName="username" required>
                <mat-error>
                    Please provide a valid email address or username
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="loginInvalid">
                {{errorMessage}}
            </mat-error>
            <button mat-raised-button color="primary">Login</button>
        </form>
        <div>
            <div>
                or
            </div>

            <button mat-button (click)="googleLogin()">
                Login with Google
            </button>
        </div>

        Don't have an account? <button mat-button color="primary" routerLink="../register">Register</button>

    </mat-card-content>
</mat-card>